<div class="panel panel-primary">
    <br><br>

    <button (click) = "createCompetition()"  class="btn btn-success">Add Competition</button>
    <button (click) = "getCompetition()" class="btn btn-info" style="margin-left: 5px" >Competition List</button>

    <br><br>
    <div class="panel-body">
      <h3> Competition List </h3>
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th> ID</th>
                    <th> Competition Name </th>
                    <th> Competition Desc </th>
                    <th> Organization </th>
                    <th> Competition Date </th>
                    <th> Competition Price </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let competition of competitions" >
                    <td> {{ competition.id }} </td>
                    <td> {{ competition.competitionName }} </td>
                    <td> {{ competition.competitionDescription }} </td>
                    <td> {{ competition.organizerId }} </td>
                    <td> {{ competition.competitionDate }} </td>
                    <td> {{ competition.competitionPrice }} </td>
                    <td>
                        <button (click) = "updateCompetition(competition.id)" class = "btn btn-info"> Update</button>
                        <button (click) = "deleteCompetition(competition.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>

                    </td>
                </tr>
            </tbody>
        </table>
  </div>
  </div>
