<div class="panel panel-primary">
    <br><br>

    <button (click) = "createOrganizer()"  class="btn btn-success">Add Organizer</button>
    <button (click) = "getOrganizers()" class="btn btn-info" style="margin-left: 5px" >Organizer List</button>

    <br><br>
    <div class="panel-body">
      <h3> Organizer List </h3>
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th> ID</th>
                    <th> Organizer Name </th>
                    <th> Organizer Club </th>
                    <th> Organizer Desc </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let organizer of organizers" >
                    <td> {{ organizer.id }} </td>
                    <td> {{ organizer.organizerName }} </td>
                    <td> {{ organizer.organizerClub }} </td>
                    <td> {{ organizer.organizerDescription }} </td>
                    <td>
                        <button (click) = "updateOrganizer(organizer.id)" class = "btn btn-info"> Update</button>
                        <button (click) = "deleteOrganizer(organizer.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>

                    </td>
                </tr>
            </tbody>
        </table>
  </div>
  </div>
