<div class="panel panel-primary">
    <br><br>
  
    <button (click) = "createRunner()"  class="btn btn-success">Add Runner</button>
    <button (click) = "getRunners()" class="btn btn-info" style="margin-left: 5px" >Runner List</button>
  
    <br><br>
    <div class="panel-body">
      <h3> Runner List </h3>
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th> ID</th>
                    <th> Runner Name </th>
                    <th> Runner Birth Day </th>
                    <th> Runner Club</th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let runner of runners" >
                    <td> {{ runner.id }} </td>
                    <td> {{ runner.runnerFullName }} </td>
                    <td> {{ runner.runnerBirthDate }} </td>
                    <td> {{ runner.runnerClub }} </td>
                    <td>
                        <button (click) = "updateRunner(runner.id)" class = "btn btn-info"> Update</button>
                        <button (click) = "deleteRunner(runner.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                    
                    </td>
                </tr>
            </tbody>
        </table>
  </div>
  </div>